html, body {
  background-color: #f9f9f9;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  @include align-items(center);
  @include flex;
  @include justify-content(space-between);
  background: $colour-brand-green;
  color: white;
  margin-bottom: 40px;
  padding: 20px 40px;

  h1 {
  	display: inline-block;
  	font-weight: 700;
  	letter-spacing: -1px;
    margin: 0;
  }

  .form-control {
    display: block;
    font-size: 12px;
    max-width: 50%;
    margin-left: 50px;
    width: 250px;
  }
}

// listings
.container {
  .row {
    @include flex;
    @include flex-wrap(wrap);
    
    // Safari bug workaround
    &:before, &:after {
       content: normal;
    }
    [class*='col-'] {
      // no rotateX transition for prefix browsers for performance reasons
      @include prefixed-transition(transform, .3s)
      -webkit-transform: perspective(1000px) rotateX(0deg) translateY(0px);
      -ms-transform: perspective(1000px) rotateX(0deg) translateY(0px);
      transform: perspective(1000px) rotateX(90deg) translateY(0px);
      margin-bottom: 20px;

      .panel {
        @include prefixed-transition(transform, .3s)
        border-bottom: 7px solid lightgrey;
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 1;

        &:hover {
          @include box-shadow(0, 8px, 18px, rgba(0,0,0,0.25));
          @include translateY(-2px);
          background-color: white;
          border: 1px solid $colour-brand-green;
          border-bottom: 7px solid $colour-brand-green;
          cursor: pointer;

          .panel-heading {
            background-color: $colour-brand-green;
            color: white;
          }
        }
        &.selected {
          .panel {
            @extend :hover;
          }
        }
        .panel-heading {
          margin: -0.1px;

           p {
            @include ellipsis(14px, 2, 1, ellipsis);
            font-weight: 700;
            margin: 0;
          }
        }
        .panel-body {
          @include flex-grow(1);
          padding: 30px 0px;
          position: relative;

          h3 {
            @include translateY(-50%);
            margin: 0px 15px;
            position: absolute;
            top: 50%;
          }
        }
        table {
          tr {
            td {
              padding: 8px 15px;

              &:nth-of-type(2){
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}

// modal
.black-opacity {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;

  .wrapper {
    display: table-row;
    height: 100%;
    overflow-y: auto;
    position:absolute;
    width: 100%;

    .content {
      background: white;
      display: table-cell;
      padding: 20px;
      width: 35%;

      .content-width {
        display: block;
        // width vw fallback
        width: 300px;
        width: 35vw;

        a:first-of-type {
          display: table;
        }
        img {
          margin: 0 50px 20px 0;
          max-height: 50px;
        }
        h2 {
          margin: 0 50px 20px 0;
        }
        #close-button {
          color: black;
          height: 40px;
          font-size: 35px;
          font-weight: 300;
          opacity: 0.5;
          position: fixed;
          right: 30px;
          text-align: center;
          top: 20px;
          width: 40px;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
    .null {
      cursor: pointer;
      display: table-cell;
      width: 100%;
    }
  }
}

// preloader animation
.loader {
  @include border-radius(50%);
  animation: spin 2s linear infinite;
  border: 4px solid $light-grey;
  border-top: 4px solid $colour-brand-green;
  height: 30px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 30px;
  z-index: 3;

  @keyframes spin {
    0% { @include rotate(0deg); }
    100% { @include rotate(360deg); }
  }
}

// scrollbar delete
::-webkit-scrollbar {
  width: 0px;
}