<header id="header">
  <h1> {{ title }}</h1>
  <input type="text"  [(ngModel)]="term" class="form-control pull-right" placeholder="Filter job titles" />
</header>

<div class="container">
  <div class="row">
    <!-- preloader animation -->
    <div class="loader"></div>
    <!-- retry countdown -->
    <div id="try-again-countdown"></div>
    <!-- loop this for each returned listing -->
    <div class="col-xs-12 col-sm-6" *ngFor="let listing of listings | filter:term" [class.selected]="listing === selectedListing" (click)="onSelect(listing)" >
      <div class="panel panel-default">
        <div class="panel-heading">    
          <p>{{ listing.company }}</p> 
        </div>
        <div class="panel-body">
          <h3 ng-href="listing.company_url">{{ listing.title }}</h3>
        </div>
        <table class="table">
          <tr>
            <td><span class="glyphicon glyphicon-map-marker"></span> {{ listing.location}}</td>
            <td>Listed {{ listing.created_at | timeSinceListed }}</td> 
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- modal containing currently selected listing -->
<div class="black-opacity" *ngIf="selectedListing">
  <div class="wrapper">
    <!-- clickable scrollable blank area  -->
    <div class="null" (click)="onSelect(listing)">
    </div>
    <div class="content">
      <div class="content-width">
        <img *ngIf="selectedListing.company_logo" src="{{ selectedListing.company_logo || '//:0' }}" alt="">
        <h2>{{ selectedListing.title }}</h2>
        <a href="{{selectedListing.company_url}}" target="_blank"><p>{{ selectedListing.company }}</p></a>
        <p><span class="glyphicon glyphicon-time"></span>  {{ selectedListing.type }}</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> {{ selectedListing.location }}</p>
        <p [innerHTML]=" selectedListing.description" class="well">{{ selectedListing.description }}</p>
        <h3>How to apply</h3>
        <p [innerHTML]=" selectedListing.how_to_apply" class="well">{{ selectedListing.description }}</p>
        <a type="button" target="_blank" class="btn btn-success" href="{{selectedListing.url}}">Visit listing at GitHub Jobs <span class="glyphicon glyphicon-new-window"></span></a>
        <!-- close button -->
        <div id="close-button" (click)="onSelect(listing)">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
    </div>
  </div>
</div>
